
body {
  font-family: 'Helvetica', 'Verdana', sans-serif;
  margin: 0;
  padding: 0;
  background: #FFFFFF;
}

.header{
    background-color:#e0c56e;
   font-size: 2.5em;
  height: 1.5em;
  padding: 0.1em;
  display:grid;
  justify-items:center;  
  align-items:center;  
}


#addDialogContainer, #addDialogContainer2 > *{
    text-align:center;
  padding: 1em;
  border-style:solid;
  border-color:#e0c56e;
  margin: 3em;
  font-size:1.5em;
  }

#selectCurrency, #selectCurrency1{
  display: inline-block;
    padding: 10px;
    border: 1px solid black;
    cursor: pointer;
    user-select: none;
}

#Exchangerate {
   padding:0.1em;
	text-align:center;
  
}

#input, #input1{
  display: inline-block;
    padding: 10px;
    border: 1px solid black;
    cursor: pointer;
    user-select: none;
  background-color: white;
}

.dialog-buttons > #output{
  padding:0.8em;
  font-size: 0.8em;
}

.dialog-buttons1 > #output1{
  padding:0.8em;
  font-size: 0.8em;
}


.dialog-buttons1 > #butDialogAdd1, .dialog-buttons > #butDialogAdd{
   display: inline-block;
    padding: .75rem 1.25rem;
    border-radius: 10rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .15rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $color;
        border-radius: 10rem;
        z-index: -2;
    }
    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: darken($color, 15%);
        transition: all .3s;
        border-radius: 10rem;
        z-index: -1;
    }
    &:hover {
        color: #fff;
        &:before {
            width: 100%;
        }
    }
}



.dialog-buttons1 > #exchange1, .dialog-buttons > #exchange {
    display: inline-block;
    padding: .75rem 1.25rem;
    border-radius: 10rem;
  border-color: #e0c56e;
  margin: 0.5em;
  font-size: 0.8em;
  cursor: pointer;
  background-color:white;
  transition: all .35s ease-Out;
}




  