
body {
  font-family: 'Helvetica', 'Verdana', sans-serif;
  margin: 0;
  padding: 0;
  background: #FFFFFF;
}

.header{
    background-color:#e0c56e;
   font-size: 2.5em;
  height: 1.5em;
  padding: 0.1em;
  display:grid;
  justify-items:center;  
  align-items:center;  
}


#addDialogContainer, #addDialogContainer2 > *{
    text-align:center;
  padding: 1em;
  border-style:solid;
  border-color:#e0c56e;
  margin: 3em;
  font-size:1.5em;
  }

#selectCurrency, #selectCurrency1{
  display: inline-block;
    padding: 10px;
    border: 1px solid black;
    cursor: pointer;
    user-select: none;
}

#Exchangerate {
   padding:0.1em;
	text-align:center;
  
}

#input, #input1{
  display: inline-block;
    padding: 10px;
    border: 1px solid black;
    cursor: pointer;
    user-select: none;
  background-color: white;
}

.dialog-buttons > #output{
  padding:0.8em;
  font-size: 0.8em;
}

.dialog-buttons1 > #output1{
  padding:0.8em;
  font-size: 0.8em;
}

.dialog-buttons > #butDialogAdd{
  border-color: #e0c56e;
  margin: 0.5em;
  padding:0.5em;
  font-size: 0.8em;
  cursor: pointer;
  background-color:white;
  transition: all .35s ease-Out;
}

.dialog-buttons > #exchange{
  border-color: #e0c56e;
  margin: 0.5em;
  padding:0.5em;
  font-size: 0.8em;
  cursor: pointer;
  background-color:white;
  transition: all .35s ease-Out;
}


.dialog-buttons1 > #butDialogAdd1{
  border-color: #e0c56e;
  margin: 0.5em;
  padding:0.5em;
  font-size: 0.8em;
  cursor: pointer;
  background-color:white;
  transition: all .35s ease-Out;
}

.dialog-buttons1 > #exchange1{
  border-color: #e0c56e;
  margin: 0.5em;
  padding:0.5em;
  font-size: 0.8em;
  cursor: pointer;
  background-color:white;
  transition: all .35s ease-Out;
}




  